
body { background-color: #f7f7f7 !important;
    
}


p {
    color: #f5eeee;
    font-family: 'Cabin', Sans-Serif;
    font-size:  14px;

}

a {
    font-family:'Roboto Condensed', Sans-Serif;

}


h1,
h2,
h3,
h4,
h5 {
    font-family:'Roboto Condensed', Sans-Serif;
    font-weight: bold;


}






/* navbar*/

nav{
  top:0;
  color: #f1f1f1;
  width: 100%;
  padding: 30px;
  font-size:14px;
  position: relative;
  z-index: 10;
}




nav ul li{
    display: inline-block;
            
        padding-left: 50px;

    }

    nav ul{
        padding-top:7px;
        padding-left: 20px; 
         margin-left:10px;
    }
    
    nav ul li a{
        text-decoration: none;
        color: white;
        text-align:right;

    }

    nav ul li a:hover{
        text-decoration: none;
        color:#27ae60;
    }
 
  


.dropbtn {
  background-color:transparent;
  color: white;
  padding: 5px;
  font-size: 14px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:black;
  opacity:0.6;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  font-size:14px;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  text-align:left;
}

.dropdown-content a:hover {color:#27ae60;;}

.dropdown:hover .dropdown-content {display: block;}






/* title */
#header-index {
  
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    text-align: center;
    overflow: hidden;
    background-position:center; 
    width: 100%;
    display:flex;
 
    
}
  

section video {position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 object-fit:cover;

}
.overplay{
  position: absolute;
 top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left,rgba(112, 129, 228, 0.244),rgba(31, 10, 106, 0.386));
  mix-blend-mode: overlay;
}


.infor{width:100%;
        height:100%;
          color:white;
            background-color: rgba(0, 0, 0, 0);
        

}

.parag{left:30%;
    top:50%;
    position:absolute;
    transform:translate(-50%,-50%);
    letter-spacing:5px;
    text-align:center;
      z-index: 10;

    
   

}





.parag h1{font-size:35px;
    margin-bottom: 10px;
    color:white;
}

.parag p{font-size:15px;
    padding-left:120px;
   
}

#h1-title {

    color: #f5eeee;
    padding-top: 70px;
    padding-bottom: 20px;
    font-size: 68px;
    text-transform: uppercase;
   }
 

 




.logo{height:40px;width:40px;text-align:center;}
.logo2{position: absolute; padding-top:60px; padding-left:700px; height:70px;width:70px;text-align:center;}


.myButton-title{
    display: inline-block;
    width:200px;
    height:70px;
    border: 2px solid #dfe1e1;
    border-radius: 40px;
    background: transparent;
    color:#27ae60;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.5s;
    cursor: pointer;

} 
.myButton-title span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.myButton-title span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}

.myButton-title:hover span {
  padding-right: 25px;
}

.myButton-title:hover span:after {
  opacity: 1;
  right: 0;
}



/* Contact index */

#Contact-ind {
  height: 85vh;
  overflow: hidden;
  position: relative;
}

#Contact-ind video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.contact-index-cont {
  position: relative;
  z-index: 1;
}

#h1-contact-indexxe,
.contact-index-cont p,
.contact-index-cont a {
  color: white; /* Ajoutez la couleur de texte que vous préférez */
}


.contact-index-cont {
  text-align: center;
}


#h1-contact-indexxe {
  font-weight: 700;
  color: #f5eeee;
  text-align: center;
  padding-top: 200px;
  font-size: 50px;
  padding-bottom: 60px;
  text-transform: uppercase;
}

#Contact-ind p {
  color: #f5eeee;
  text-align: center;
  padding-bottom: 80px;
}
.mybutton-regime1 {

  width: 220px;
  height: 70px;
  border: 2px solid white;
  border-radius: 40px;
  background: white;
  color: #4e8f1a;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
.mybutton-regime1:hover {
    width: 220px;
    height: 70px;
    border: 2px solid white;
    border-radius: 40px;
    background: transparent;
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;

}


/* Ghaza  aujourd'hui*/

#ghaza-index{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(../images/IMG_2733.jpg);
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.ghaza-index-content {
  text-align: center;
}


#h1-ghaza-index {
  font-weight: 700;
  color: #f5eeee;
  text-align: center;
  padding-top: 100px;
  font-size: 50px;
  padding-bottom: 2px;
  text-transform: uppercase;
}

#ghaza-index p {
  color: #f5eeee;
  text-align: center;
  padding-bottom: 60px;
}






.Advantages {
  display: flex;
  justify-content: space-around; /* Aligne les éléments horizontalement avec un espace égal entre eux */
  margin-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.adv-box {
  color: #4b4b4d;
  flex-basis: 30%; /* Permet aux éléments de s'adapter de manière égale à la largeur disponible */
  max-width: 300px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.adv-box img {
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
}

.adv-box figcaption {
  padding: 20px;
}

.adv-box h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.adv-box p {
  color: #6c757d;
  line-height: 1.5;
  margin-bottom: 15px;
}

.adv-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}


/* Contact index */

#Contact-index {
  background-image:url(../images/IMG_2734.jpg);
  height: 93vh;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.contact-index-content {
  text-align: center;
}


#h1-contact-index {
  font-weight: 700;
  color: rgb(3, 46, 3);
  text-align: center;
  padding-top: 200px;
  font-size: 50px;
  padding-bottom: 60px;
  text-transform: uppercase;
}

#Contact-index p {
  color: #f5eeee;
  text-align: center;
  padding-bottom: 60px;
}


/* Galerie */


.Galerie{
  text-align: center;

}

.box{display:inline-block;
   
     width: 20%;
    
     border-radius: 5px;
     


 }

.box img:hover{transform:scale(2,2);
transform:3s transform;
border-radius: 5px;
width:200px;height: 200px;

}


/*  header contact page */

#header-contact{
    background-image:  url(../images/red-rose-flowers-bouquet-on-white-surface-beside-spring-book-1410226.jpg);
    height: 377px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    text-align: center;

}

/*  header about page */


#header-about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/remus-startup.jpg);
    height: 480px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    text-align: center;
}

/* Contact page */


.cont{display:inline-block; margin-left:100px}

/* Contact page */
#header-contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/03-new.jpg);
  height: 377px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
}

.contactt {
  min-height: 200vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; 
  margin-top: -400px;
}

.conty {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.conty h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Arial", sans-serif;
  text-align: center;
  margin-bottom: 32px;
  color: #333;
}

form {
  width: 100%;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group .form-contactt {
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

.form-contactt label {
  display: block;
  margin-bottom: 5px;
  color: #666;
  font-size: 14px;
}

.form-contactt input, .form-contactt textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-family: "Arial", sans-serif;
  background: #f9f9f9;
  transition: border-color 0.3s ease;
}

.form-contactt input:focus, .form-contactt textarea:focus {
  border-color: #ae3c33;
  outline: none;
}

button.myButton-title {
  display: inline-block;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  font-family: "Arial", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.myButton-title:hover {
  background-color: #0056b3;
}






/*team*/

#team {
    background-image: url(../images/luxe-texture-arriere-plan-du-marbre-blanc-pour-travaux-art-modele-conception_24076-389.avif);
    height:400px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#team h1 {
    text-align: center;
    padding-top: 30px;
    color: white;
    padding-bottom: 40px;
    text-transform: uppercase;
}
#team h3 {
    text-align: center;
    padding-top: 5px;
    color: white;
    padding-bottom: 10px ;
}

#team h5 {
    text-align: center;
    color: white;
    padding-bottom: 10px;

}

.team-box {
    background: transparent;
    padding: 90px;
    text-align: center;

}

.team-box p {
    color: white;
}


.team-box img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 5px solid white;

}
#bc{
 
  display: inline-block;
  margin:50px;

}
  /* Intro */
  
  #intro h5 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 35px;
}


/*Footer*/


.footer_bar {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.social-link {
  display: inline-block;
  margin: 0 20px;
  position: relative;
  text-align: center;
}

.social-text {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  display: block;
}

.fa-facebook-f {
  color: #4167B2; /* Facebook Blue */
}

.fa-instagram {
  color: #8a3ab9; /* Violet */
}

.fa-twitter {
  color: #1DA1F2; /* Twitter Blue */
}

.fa-whatsapp {
  color: #25D366; /* WhatsApp Green */
}

.fa-envelope {
  color: #fff; /* White */
}

p {
  margin-top: 10px;
}


/*partie separation*/


.espaces{
  background-color:rgb(240, 240, 240);
  width:100%;
  height: 300px;

}
.espaces h5{
  padding-top:130px;
  text-align: center;
  font-family: Berlin Sans FB Demi;
  letter-spacing:3px;


}
.espaces h1{
 
  text-align: center;
  font-size:3em;
  letter-spacing:3px;


}


.esp{
  background-color:rgb(8, 5, 5);
  width:100%;
  height: 300px;

}
.esp h5{
  padding-top:130px;
  text-align: center;
  font-family: Berlin Sans FB Demi;
  letter-spacing:3px;
  color: #dfe1e1;


}
.esp h1{
 
  text-align: center;
  font-size:3em;
  letter-spacing:3px;  
  color: #dfe1e1;



}
.belle-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  background-color:rgb(8, 5, 5);
}

.conteneur {
  position: relative;
  display: flex;
  justify-content: space-between; /* Pour aligner le logo et le contenu */
  width: 350px;
  height: 270px;
  background-color: #27ae60;
  border-radius: 60px 0 60px 0; /* Coin supérieur gauche arrondi à 60px, coin inférieur droit arrondi à 60px */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  margin: 10px; /* Espace entre les conteneurs */
  overflow: hidden; /* Pour cacher le bouton en dehors du conteneur */
  transition: box-shadow 0.3s ease, transform 0.3s ease, background-color 0.3s ease; /* Transition de la couleur de fond */
}


.logo {
  width: 80px;
  height: auto;
}

.contenu {
  padding: 20px;
}

.contenu h2 {
  margin-top: 0;
}

.contenu p {
  margin-bottom: 20px;
}


/* Styles pour le bouton */

.bouton {
  display: none;
}

.conteneur:hover .bouton {
  display: block;
}

.bouton a {
  display: inline-block;
  padding: 8px 16px;
  background-color: transparent;
  color: #3498db;
  text-decoration: none;
  border: 2px solid #3498db;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.conteneur:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  background-color:#27ae60; /* Nouvelle couleur de fond au survol */
}

.conteneur:hover .bouton a {
  background-color: #fff;
  color: #3498db;
}

.Pilates {
  margin: 0;
  padding: 0;
  position: relative;
  height: 75vh; /* Utilisation de la hauteur de l'écran */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Cacher tout contenu qui dépasse de la section */
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; /* Pour placer la vidéo en arrière-plan */
  object-fit: cover; /* Redimensionner la vidéo pour qu'elle couvre toute la section */
}

.cont-Pilates {
  width: 80%;
  max-width: 1200px; /* Limiter la largeur pour une meilleure lisibilité */
  text-align: center;
  color: #fff;
}

.col h1 {
  padding: 30px 0;
  font-size: 36px; /* Augmentation de la taille de la police */
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.col {
  flex-basis: 50%;
  min-width: 300px; /* Réduction de la largeur minimale */
  padding: 0 20px; /* Espacement latéral */
}

.col p {
  color: #ccc; /* Couleur du texte légèrement modifiée */
  font-size: 16px; /* Taille de police légèrement augmentée */
  line-height: 1.6;
  text-align: justify;
}

.mybutton-regime1 {
  padding: 10px 20px;
  font-size: 18px; /* Augmentation de la taille de la police */
  border: none;
  border-radius: 5px;
  background-color: #2ecc71;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mybutton-regime1:hover {
  background-color: #27ae60;
}


/* parteners*/

.Partner{background-image: url(../img/t9.png);

}
.partner-logo {
    width:100px;
    height: 90px;
    margin-bottom: 40px;
    filter: grayscale(10);
    margin-top: 100px;
    cursor: pointer;
    margin-left:50px;
    text-align:center;

}


.partner-logo:hover {

    filter: grayscale(0);

}
/* Styles pour la boîte de dialogue modale */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 800px; /* Ajustez la largeur maximale selon vos préférences */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une ombre subtile */
}


/* Bouton de fermeture */
/* Bouton de fermeture */
.close {
  color: #618d1f;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  font-size: 24px;
  cursor: pointer;
  border: none; /* Supprimer la bordure */
  background-color: transparent; /* Fond transparent */
  outline: none; /* Supprimer le contour */
}



/* Centrer le contenu à l'intérieur de la boîte de dialogue */
.modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling des éléments du formulaire */
.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="password"] {
  width: 60%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-content input[type="submit"] {
  width: 60%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte du bouton */
  cursor: pointer;
}

.modal-content input[type="submit"]:hover {
  background-color: #0056b3; /* Changement de couleur au survol */
}
/* Zone pour créer un compte */
.create-account {
  text-align: center; /* Centrer le contenu */
  margin-top: 20px; /* Ajouter un espace en haut */
}

.create-account p {
  margin-bottom: 10px; /* Ajouter un espace en bas */
  color: #0056b3;
}

.create-account button {
  padding: 10px 20px; /* Ajouter de l'espace autour du texte */
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.create-account button:hover {
  background-color: #0056b3;
}
.create-account a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none; /* Supprimer le soulignement par défaut */
  transition: background-color 0.3s ease; /* Ajouter une transition fluide */
}

.create-account a:hover {
  background-color: #b30015;
}
.error-message {
  color: red;
  margin-top: -10px; /* Ajuster pour l'espacement désiré */
}
/* Styles pour la boîte de dialogue modale */
.custom-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.custom-modal-content {
  background-color: #fff; /* Changement de couleur de fond */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-close {
  color: #1f8d6e;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  font-size: 24px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
}

.custom-modal-content input[type="submit"] {
  width: 100%; /* Largeur à 100% */
  padding: 10px;
  margin-top: 20px; /* Ajustement de la marge */
  border: none;
  border-radius: 5px;
  background-color: #4CAF50; /* Nouvelle couleur de fond du bouton */
  color: #fff;
  cursor: pointer;
}

.custom-modal-content input[type="submit"]:hover {
  background-color: #45a049; /* Changement de couleur au survol */
}
